/**Import global variables using import**/
@import url('../../cssGlobals/colors.css');

/**use global variables like below**/
body{
    color: var(--primary);
    font-family: "Helvetica";
}


.horizontal-items{
    display: flex;
}

.closed{
    display: none;
}